{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
<ul class="posts">
{{#foreach posts}}
    <li>
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
        <a class="post-title" href="{{url}}">{{{title}}}</a>
    </li>
{{/foreach}}
</ul>

{{! Previous/next page links - displayed on every page }}
{{pagination}}
